<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inicio</title>
</head>
<body>
<h1>Estudiante</h1>
<form th:action="@{/editado}" th:object="${estudiante}" method="post">
	<input type="number" th:field="*{codigoEstudiante}" hidden = "true"><br>
	<label>Nombre: </label><input type="text" th:field="*{nombre}"><br>
	<span th:errors="*{Nombre}" style="color:#E81505"></span><br>
	<label>Apellido: </label><input type="text" th:field="*{apellido}"><br>
	<span th:errors="*{Apellido}" style="color:#E81505"></span><br>
	<label>Edad: </label><input type="number" th:field="*{edad}"><br>
	<span th:errors="*{Edad}" style="color:#E81505"></span><br>
	<label>Activo: </label><input type="radio" th:field="*{estado}" th:value="${true}"><br>
	<label>Inactivo: </label><input type="radio" th:field="*{estado}" th:value="${false}"><br>
	<br>
	<input type="submit" value="GUARDAR">
</form>
</body>
</html>